[HOTFIX] JWT 키 에러 해결

### ✨ Description
- JWT Key 에러를 해결합니다.

```
2026-02-06 06:50:07.095 ERROR [http-nio-8080-exec-9] [requestId=37894f63-d2be-4e84-8f74-862be04cda15] c.m.exception.GlobalExceptionHandler - Unhandled exception occurred
io.jsonwebtoken.security.WeakKeyException: The specified key byte array is 136 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys#secretKeyFor(SignatureAlgorithm) method to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
	at io.jsonwebtoken.security.Keys.hmacShaKeyFor(Keys.java:96)
	at com.moong.controller.tool.jwt.JwtProperties.getSecretKey(JwtProperties.java:16)
	at com.moong.controller.tool.jwt.JwtManager.createToken(JwtManager.java:43)
	at com.moong.controller.tool.jwt.JwtManager.createAccessToken(JwtManager.java:27)
	at com.moong.controller.tool.jwt.AuthManager.issueToken(AuthManager.java:16)
	at com.moong.service.AuthService.findMemberInfoAndGenerateToken(AuthService.java:30)
	at com.moong.facade.auth.AuthFacadeService.login(AuthFacadeService.java:25)
	at com.moong.controller.AuthController.login(AuthController.java:28)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.base/java.lang.reflect.Method.invoke(Unknown Source)
```


### ✨ Time(마감기한)

- ASAP
